@import "../../styles/abstracts/mixins";

.reset_password {
  .password_reset_conditions {
    width: 43.5rem;
    background: #ffffff;
    box-shadow: 0px 3px 50px #0000000a;
    border: 0.800000011920929px solid #e6eaef;
    border-radius: 10px;
    padding: 2rem;
    margin: 3rem auto 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: 100%;
      left: 50%;
      border: 0.75rem solid transparent;
      border-top: none;
      border-bottom-color: #fff;
      filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
    }

    .conditions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        padding: 0 1rem;
        li {
          color: #3ea200;
          font-size: 1.25rem;
          list-style-type: disc;
          line-height: 2;
        }
      }
    }
  }
  @include respond(phone) {
    .password_reset_conditions {
      width: 100%;
      .conditions {
        flex-direction: column;
      }
    }
  }
}
