@import "../../styles/abstracts/mixins";

.ant-modal {
  // width: 50% !important;
  @include respond(phone) {
    width: 90% !important;
    .ant-modal-content {
      padding: 2rem;
    }
  }
}
.public_modal .ant-modal-content {
  padding: 4rem;
}
.private_modal .ant-modal-content {
  padding: 0 2rem;
}

.ant-modal-body {
  padding: 0;
  .modal_icon {
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 1px solid #3ea200;
    border-radius: 100px;
    margin: 0 auto 3rem;
    svg {
      color: #3ea200;
      height: 5rem;
      width: 5rem;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  p {
    color: #707070;
    font-size: 1.5rem;
  }
}
.public_modal .ant-modal-body div {
  width: fit-content;
  margin: 4rem auto 1rem;
}

.ant-modal-mask {
  background-color: #00000080;
}
.ant-modal-close {
  display: none;
}
.ant-modal-wrap {
  z-index: 1000000 !important;
}
