@import "../../styles/abstracts/mixins";

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  svg,
  img {
    width: 3rem;
    height: 3rem;
    margin-right: 5rem;
  }
  .divider {
    border-left: 1px solid #cecece;
    position: absolute;
    top: 1.35rem;
    left: 6.3rem;
    height: 3.5rem;
  }
  .text {
    p:first-child {
      font-size: 1.7rem;
      margin-bottom: 0.2rem;
      font-weight: 600;
      color: #1a1a1a;
    }
    p {
      color: #707070;
      font-size: 1.3rem;
      margin: 0;
    }
  }

  @include respond(phone) {
    padding: 0;
  }
}
