/*
0 - 600px phone
600px - 900px  Tablet Protraits
900px - 1200px  Tablet Landscape
1200px - 1800 current style apply
1800+ Big desktop
*/
/*
Breakpoint aurgument
- Phone
- Tablet-protrait
- Tablet-landscape
- big Desktop

*/
.profile {
  padding-bottom: 3rem;
}
.profile .profile_header {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e8e7e7;
  box-shadow: 0px 10px 50px #0000000d;
}
.profile .profile_header .user_details {
  display: flex;
  align-items: center;
  position: relative;
}
.profile .profile_header .user_details .user_details_icon_wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #b7b7b729;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 0;
}
.profile .profile_header .user_details .user_details_icon_wrapper .user_details_icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1.5px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .profile_header .user_details .user_details_icon_wrapper .user_details_icon svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #707070;
}
.profile .profile_header .user_details p {
  font-weight: 700;
  font-size: 1.4rem;
  color: #1a1a1a;
  margin-bottom: 0;
}
.profile .profile_header .user_details div:first-of-child svg {
  background-color: #d90b27;
}
.profile .profile_header .user_details .divider {
  border-left: 1.5px solid #b7b7b7;
  height: 40px;
  position: absolute;
  left: 25%;
}
.profile .profile_header .user_details .go_back {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #1a1a1a;
}
.profile .profile_header .user_details .go_back svg {
  color: #d90b27;
}
.profile .profile_body {
  padding: 3rem;
  position: relative;
}
.profile .profile_body .profile_body_content {
  background-color: #fff;
  padding: 3rem;
}
.profile .profile_body .profile_body_content .profile_body_content_header_title {
  font-weight: 500;
}
.profile .profile_body .profile_body_content .profile_body_content_header_title:after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: #d90b27;
  margin-top: 1rem;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture .profile_body_image {
  width: 7rem;
  height: 7rem;
  border-radius: 50px;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture .profile_body_header_details {
  width: 20rem;
  margin-left: 2rem;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture .profile_body_header_details p {
  font-size: 1rem;
  margin: 0;
  color: #565371;
  font-weight: 300;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture .profile_body_header_details p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture .profile_body_header_details p.small {
  font-size: 0.85rem;
  color: #565371;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1rem;
  letter-spacing: 0.5px;
}
.profile .profile_body .profile_body_content_body .profile_body_profile_picture .profile_body_header_details p.small span {
  color: #d90b27;
  text-decoration: underline;
  margin-left: 0.3rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details {
  margin: 3rem 0 0;
  width: 80%;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_left {
  width: 30%;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_left p {
  margin: 0;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_left .profile_title {
  font-weight: 600;
  font-size: 1.1rem;
  color: #565371;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_left .profile_subtitle {
  font-weight: 300;
  font-size: 1rem;
  color: #565371;
  line-height: 1.2;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right input,
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right select {
  border: none;
  width: 100%;
  background-color: #eeeef5;
  color: #0b0547;
  font-size: 1.1rem;
  border-radius: 3px;
  height: 40px;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right input:nth-of-type(2) {
  margin-left: 1rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .button_fill_private {
  width: 100%;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right input:hover,
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right input:focus,
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right input:active,
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right select:hover,
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right select:focus,
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right select:active {
  outline: none;
  background-color: #fff;
  border: 1px solid #d90b27;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-radio-group {
  width: 100%;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-radio-group .ant-radio-button-wrapper {
  border: none;
  background-color: #eeeef5;
  color: #0b0547;
  width: 50%;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-radio-group .ant-radio-button-wrapper span {
  font-size: 1.1rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-radio-group .ant-radio-button-wrapper span .ant-radio-button-checked:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-radio-group .ant-radio-button-wrapper-checked {
  border: none;
  background-color: #d90b27;
  color: #fff;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  display: none;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #eeeef5;
  color: #0b0547;
  font-size: 1.1rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-select:first-child {
  margin-right: 0.8rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-select:last-child {
  margin-left: 0.8rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .ant-select .ant-select-arrow {
  color: #0b0547;
  font-size: 0.9rem;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .input_icon {
  position: relative;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right .input_icon svg {
  position: absolute;
  top: 35%;
  right: 1rem;
  color: #9ba1ac;
}
.profile .profile_body .profile_body_content_body .profile_body_details .profile_body_details_row .column_right select {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.profile .profile_body .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #d9363e;
  font-size: 1.35rem;
  font-weight: normal;
}

#social_profile {
  background: none;
  padding: 0;
}
#social_profile .profile_body_details_row {
  margin-bottom: 2rem;
}
#social_profile .profile_body_details_row .column_right {
  flex-direction: column;
  align-items: flex-start !important;
}
#social_profile .profile_body_details_row .column_right .input_icon {
  width: 100%;
  margin-bottom: 0.5rem;
}
#social_profile .profile_body_details_row .column_right .input_icon input:hover svg,
#social_profile .profile_body_details_row .column_right .input_icon input:focus svg,
#social_profile .profile_body_details_row .column_right .input_icon input:active svg {
  color: #03a9f4;
}
#social_profile .profile_body_details_row .column_right .input_icon input:disabled {
  pointer-events: none;
  color: #9ba1ac;
}
#social_profile .profile_body_details_row .column_right .ant-switch {
  background-color: #eeeef5;
}
#social_profile .profile_body_details_row .column_right .ant-switch-checked {
  background-color: #d9363e;
}

#payout_account {
  background: none;
  padding: 0;
}
#payout_account .profile_body_details_row {
  margin-bottom: 2rem;
}
#payout_account .profile_body_details_row .column_right .input_icon {
  width: 100%;
  margin-bottom: 0.5rem;
}
#payout_account .profile_body_details_row .column_right .input_icon div {
  background-color: #09974e13;
  color: #09974d;
  pointer-events: none;
  position: relative;
  padding: 1rem;
  border-radius: 3px;
}
#payout_account .profile_body_details_row .column_right .input_icon div p {
  margin-bottom: 0;
}
#payout_account .profile_body_details_row .column_right .input_icon svg {
  color: #09974d;
}

#password_page {
  background: none;
  padding: 0;
}
#password_page .profile_body_details_row {
  align-items: flex-start;
}
#password_page .profile_body_details_row .column_right {
  flex-direction: column;
  align-items: flex-start;
}
#password_page .profile_body_details_row .column_right label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #565371;
  margin-bottom: 0.5rem;
}
#password_page .profile_body_details_row .column_right input {
  margin-bottom: 0.5rem;
  pointer-events: none;
}
#password_page .profile_body_details_row .column_right p {
  font-size: 1rem;
  color: #565371;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 1rem;
  letter-spacing: 0.5px;
}
#password_page .profile_body_details_row:last-of-type p {
  color: #d90b27;
  font-weight: 600;
  text-decoration: underline;
  margin: 0;
}/*# sourceMappingURL=Profile.css.map */