@import "../../../styles/abstracts/mixins";

.private_layout {
  display: flex;
  position: relative;
  height: 100%;
  main {
    flex-grow: 1;
    background-color: #fcfcfc;
    margin-left: 270px;
    @include respond(tab-port) {
      margin-left: 0;
    }
    @include respond(phone) {
      margin-left: 0;
    }
  }
}
