@import "../../../styles/abstracts/mixins";

.dashboard {
  padding: 4rem 2rem;
  .dashboard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user_details {
      display: flex;
      align-items: center;
      img,
      svg {
        height: 4.5rem;
        width: 4.5rem;
        border: 3px solid #b9b9b9;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        margin-right: 1.2rem;
      }
      p:first-child {
        font-weight: 700;
        font-size: 1.5rem;
        color: #1a1a1a;
        margin-bottom: 0;
      }
      p:nth-child(2) {
        font-size: 1.3rem;
        color: #707070;
        margin: 0;
      }
    }
    .drop-down-bubble .drop-down-menu {
      margin-top: 1em;
      border-radius: 10px;
      background: #1a1a1a;
      box-shadow: 0px 3px 30px #00000029;
    }
    li {
      color: #fff;
    }

    .drop-down-bubble .drop-down-menu:before,
    .drop-down-bubble .drop-down-menu:after {
      content: " ";
      display: block;
      border-style: solid;
      border-width: 0 0.5em 0.8em 0.5em;
      border-color: transparent;
      position: absolute;
      left: 5em;
    }

    .drop-down-bubble .drop-down-menu:before {
      top: -0.8em;
      border-bottom-color: rgba(0, 0, 0, 0.5);
    }

    .drop-down-bubble .drop-down-menu:after {
      top: -0.7em;
      border-bottom-color: #000;
    }
  }
  .dashboard_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    width: 95%;
    margin: 3rem 0;
    .card_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .card_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      .card_icon_wrapper {
        background-color: #3ea200;
        height: 3rem;
        width: 3rem;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .card_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2rem;
          width: 2rem;
          border: 1.5px solid #fff;
          border-radius: 50px;
          svg {
            height: 1rem;
            width: 1rem;
          }
        }
      }
      .card_text_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          position: relative;
          .card_divider {
            border-left: 1px solid #fff;
            position: absolute;
            top: 0;
            right: -1rem;
            height: -webkit-fill-available;
          }
        }
        .right {
          margin-left: 2rem;
        }
        .card_title {
          font-size: 1.25rem;
        }
        .card_value {
          font-weight: 700;
          font-size: 1.1rem;
          margin-bottom: 0;
        }
      }
    }
    .card_footer {
      margin-top: 2rem;

      .card_title {
        font-size: 1.15rem;
        margin-bottom: 0.6rem;
      }
      .card_value {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
      }
      .card_footer_content {
        display: flex;
        .left,
        .right,
        .center {
          position: relative;
        }
        .right,
        .center {
          margin-left: 3rem;
        }
        .card_divider {
          border-left: 1px solid #fff;
          position: absolute;
          top: 0;
          right: -1.5rem;
          height: -webkit-fill-available;
        }
      }
    }
  }
  .dashboard_chart {
    display: grid;
    grid-template-columns: 45% 25% 25%;
    grid-gap: 2rem;
    #graph_data,
    #location_data,
    #event_data {
      background: #ffffff;
      border: 1px solid #e8e7e7;
      border-radius: 5px;
      padding: 2rem;
      position: relative;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        border: 1px solid #1a1a1a;
        border-radius: 5px;
        width: 114px;
        height: 40px;
        cursor: pointer;
        position: relative;
        span {
          font-size: 1.4rem;
          font-weight: 500;
          color: #1a1a1a;
        }
        img:first-of-type {
          width: 2.5rem;
          height: auto;
        }
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #1a1a1a;
      }
    }
    #graph_data {
      .subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 70%;
        .left {
          p {
            font-size: 1.3rem;
            color: #989898;
          }
          h2 {
            font-weight: 600;
            font-size: 1.8rem;
          }
        }
        .ant-divider {
          margin: 0;
          border-color: #707070;
          height: 7rem;
        }
        .right {
          p {
            font-size: 1.3rem;
            color: #989898;
          }
          h2 {
            font-weight: 600;
            font-size: 1.8rem;
            display: inline-flex;
          }
          span {
            background: #ecffe0;
            border: 1px solid #3ea200;
            border-radius: 13px;
            color: #3ea200;
            font-size: 1.1rem;
            text-align: center;
            padding: 0.5rem 0.8rem;
            margin-left: 0.8rem;
            svg {
              height: 1.1rem;
              width: 1.1rem;
              color: #3ea200;
              margin-left: 0.3rem;
            }
          }
        }
      }
    }
    #location_data {
      .location_data_body {
        margin-top: 2rem;
        .location_data_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.6rem 0;
          p:first-of-type {
            color: #989898;
          }
          p:last-of-type {
            color: #1a1a1a;
            font-size: 1.3rem;
            .ant-divider {
              border-left-color: #1a1a1a;
            }
          }
        }
      }
    }
    #event_data {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        color: #000000;
        p {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      hr {
        border: 1px solid #f4f4f4;
        margin: 0 0 1rem;
      }
      .event_data_body {
        .event_data_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 4rem 0;
          .event_data_item_logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 3rem;
              width: 3rem;
              // padding: 2px;
              border-radius: 50px;
              border: 1px solid #989898;
              object-fit: contain;
              object-position: center;
              margin-right: 1rem;
            }
            p {
              color: #000000;
              font-size: 1.3rem;
              margin: 0;
            }
          }
          p {
            color: #000000;
            font-size: 1.3rem;
            margin: 0;
          }
        }
      }
    }
  }
  @include respond(tab-pro) {
    .dashboard_chart {
      grid-template-columns: 1fr;

      #graph_data {
        .subheader {
          width: 100%;
        }
      }
    }
  }
  @include respond(tab-port) {
    .dashboard_chart {
      grid-template-columns: 1fr;

      #graph_data {
        .subheader {
          width: 100%;
        }
      }
    }
  }
  @include respond(phone) {
    padding: 2rem;
    width: 100vw;
    .dashboard_header {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }
    .dashboard_body {
      width: 100%;
      grid-template-columns: 1fr;
      .card_header {
        .card_icon_wrapper {
          width: 3rem;
          height: 3rem;
          .card_icon {
            width: 2rem;
            height: 2rem;
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
    }
    .dashboard_chart {
      grid-template-columns: 1fr;
      #graph_data {
        .subheader {
          width: 100%;
        }
      }
    }
  }
}

.event_type {
  label {
    display: block;
    font-size: 1rem;
    font-weight: 300;
  }
}
.dropdown_container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 368px;
  p {
    font-size: 1.2rem;
    color: #989898;
  }
  .event_radio_button {
    .ant-radio-inner {
      background-color: transparent;
    }
    .ant-radio-checked .ant-radio-inner {
      border-color: #3ea200;
    }
    .ant-radio-inner::after {
      background-color: #3ea200;
    }
    .ant-radio:hover .ant-radio-inner,
    .ant-radio-input:focus + .ant-radio-inner {
      border-color: #3ea200;
    }
    .ant-radio-input:focus + .ant-radio-inner {
      box-shadow: none;
    }
  }
  .close_icon {
    width: 2rem;
    height: 2rem;
  }
  .ant-divider-vertical {
    border-color: #fff;
    height: 2rem;
  }
}
.ant-dropdown-arrow {
  background: linear-gradient(135deg, transparent 40%, #1a1a1a 40%);
  &::before {
    background: linear-gradient(to left, #1a1a1a 50%, #1a1a1a 50%) no-repeat -10px -10px;
  }
}
.ant-dropdown .dropdown_container {
  background: #1a1a1a;
  color: #fff;
  border-radius: 5px;
  padding: 2rem;
  left: 702px;
}
.ant-dropdown-placement-bottomRight > .ant-dropdown-arrow {
  background: transparent;
}
.ant-dropdown-arrow::before {
  background: linear-gradient(to left, #1a1a1a 50%, #1a1a1a 50%) no-repeat -10px -10px !important;
}

.report {
  box-shadow: 0px 3px 30px #00000029;
  min-width: auto;
  display: block;
  p {
    color: #c3c3c3;
    margin: 0;
  }
  .ant-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #707070;
  }
}
