@import "../../styles/abstracts/mixins";

.ant-modal {
  width: 40% !important;
  @include respond(phone) {
    width: 90% !important;
  }
}
.ant-modal-content {
  padding: 4rem 0;
}
.ant-modal-confirm-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1a1a1a;
  .modal_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 1px solid #3ea200;
    border-radius: 100px;
    margin-bottom: 3rem;
    svg {
      color: #3ea200;
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  .ant-modal-confirm-title {
    font-weight: 700;
    font-size: 1.7rem;
  }
}

.ant-modal-confirm-body > .anticon {
  margin: 0 0 1.2rem;
}
.ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  margin-left: 0;
}
.ant-modal-confirm-content {
  color: #707070;
  font-size: 1.2rem;
}

.ant-modal-confirm-btns button:first-child {
  display: none;
}

.ant-modal-confirm .ant-modal-confirm-btns {
  float: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 4rem auto 1rem;
  .ant-btn {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    border-radius: 32px;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    height: 40px;
    padding: 0 3rem;
    + .ant-btn {
      margin-left: 0;
    }
  }
}
.ant-modal-mask {
  background-color: #00000080;
}
