.blogSingle {
  .head {
    box-shadow: 0px 10px 50px #0000000d;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 95%;
      margin: 0 auto;

      .box1 {
        width: 40%;
        display: flex;
        align-items: center;
        .back {
          border-right: 1px solid #b7b7b7;
          padding-right: 20px;
          margin-right: 20px;
          cursor: pointer;
          img {
            width: 21px;
            transform: rotate(180deg);
            margin-right: 5px;
            margin-top: -5px;
          }
        }
        p {
          font-size: 14px;
          color: #707070;
          span {
            color: #d90b2c;
          }
        }
      }
      .box2 {
        width: 40%;
        display: flex;
        button,
        a {
          padding: 18px 0px;
          width: 235px;
          border-radius: 5px;
          border: none;
          font-size: 18px;
          background-color: #ffffff;
          text-align: center;
        }
        a {
          background-color: #1a1a1a;
          color: #ffffff;
          margin-left: 20px;
        }
      }
    }
  }
  .viewBlog {
    width: 65%;
    padding: 30px 0;
    padding-left: 11%;
    h1,
    h2 {
      color: #000000;
      font-weight: 700;
    }
    .img_cover {
      width: 100%;
      height: 417px !important;
      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0;
      & > div:nth-child(1) {
        span {
          color: #adadad;
        }
      }
      & > div:nth-child(2) {
        span {
          margin: 0 20px;
          color: #adadad;
        }
      }
    }
  }
  .editBlog {
    width: 80%;
    padding: 30px 0;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;

    ul {
      width: 20%;
      li {
        padding-left: 15px;
        margin-bottom: 10px;
        cursor: pointer;
      }
      .active {
        border-left: 2px solid #d90b2c;
      }
    }
    .relative {
      position: relative;
      margin: 50px 0;
      border: 1px dashed #cccccc;

      padding: 10px 0;
      img {
        width: 100%;
      }
      .edit_del {
        text-align: right;
        position: absolute;
        right: -95px;
        top: -35px;
        div {
          width: 54px;
          height: 54px;
          background-color: #ebebeb;
          border-radius: 50px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          cursor: pointer;

          img {
            max-width: 100%;
            width: 50%;
          }
        }
        .del {
          top: 0px;
          transition: top 1s ease-in-out;
          &:hover {
            &::after {
              content: "delete";
              color: #acacac;
              position: absolute;
              top: 55px;
            }
          }
        }

        .edit {
          top: 0px;
          transition: top 1s ease-in-out;
          &:hover {
            &::after {
              content: "edit";
              color: #acacac;
              position: absolute;
              top: 55px;
            }
          }
        }
      }
    }
    .box4 {
      text-align: center;
      .edit_del {
        right: -30px;
        top: 0px;
      }
    }
    .box5 {
      .edit_del {
        right: -30px;
        top: 30px;
      }
    }
    form {
      width: 75%;
      border: 1px dashed #cccccc;
      border-top: none;

      h2 {
        font-size: 30px;
      }
      .title_input {
        font-size: 50px;
      }
      .title_h2 {
        font-size: 30px;
        font-weight: 700;
      }
      textarea {
        width: 100%;
        border: none;
        outline: none;
        height: auto;
      }
      input {
        width: 100%;
        outline: none;
        border: none;
      }
      .title {
        color: #dbdbdb;
        border-left: 1px solid #707070;
        padding: 0;
        margin: 0;
      }
      & > div {
        margin-bottom: 35px;
      }
      .upload_img {
        margin-bottom: 100px;
      }
      .possible_question {
        background-color: #fcfcfc;
        .head {
          display: flex;
          justify-content: space-between;
          background-color: #fcfcfc;
        }
        & > div {
          margin-bottom: 40px;
        }
      }
      .submit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          color: #d90b2c;
          cursor: pointer;
        }
        div {
          button {
            padding: 18px 0;
            width: 200px;
            font-size: 18px;
            border: none;
            cursor: pointer;
            background-color: #1a1a1a;
            border-radius: 5px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.ant-modal {
  height: 100% !important;
  margin-top: -80px !important;
}
.ant-modal-wrap {
  padding: 0 !important;
}

.img_cover {
  width: 100%;
  height: 417px !important;
  margin-bottom: 20px;
  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
